.list-item {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    flex: 1 0 auto;
    height: auto;
    min-height: 80px;
}

.item-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical */
    align-items: center;     /* horizontal */
    text-align: center;
}